<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h1><b>{{ this.id() ? 'UPDATE USER' : 'ADD NEW USER' }}</b></h1>
          <hr>
          <form
            name="form"
            (ngSubmit)="f.form.valid && onSubmit() && f.form.valid && f.form.reset()"
            #f = "ngForm"
            novalidate
          >
            <div class="mb-3">
              <label for="username">Username</label>
              <input
                type="text"
                class="form-control"
                name="username"
                [(ngModel)]="form.username"
                required
                #username="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && username.errors}"
              />
              <div
                class="invalid-feedback"
                *ngIf="username.errors && f.submitted">
                <div *ngIf="username.errors['required']">
                  Username is required
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="username">Password</label>
              <input
                type="password"
                class="form-control"
                name="password"
                [(ngModel)]="form.password"
                required="{{id() == undefined}}"
                minlength="6"
                maxlength="20"
                #password="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && password.errors}"
              />
              <div
                class="invalid-feedback"
                *ngIf="password.errors && f.submitted">
                <div *ngIf="password.errors['required']">
                  Password is required
                </div>
                <div *ngIf="password.errors['minlength']">
                  Password must be at least 6 characters
                </div>
                <div *ngIf="password.errors['maxlength']">
                  Password must be at most 20 characters
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                name="email"
                [(ngModel)]="form.email"
                required
                email
                #email="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && email.errors}"
              />
              <div
                class="invalid-feedback"
                *ngIf="email.errors && f.submitted">
                <div *ngIf="email.errors['required']">
                  Email is required
                </div>
                <div *ngIf="email.errors['email']">
                  Email must be a valid email address
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="firstname">First Name</label>
              <input
                type="text"
                class="form-control"
                name="firstname"
                [(ngModel)]="form.firstname"
                #firstname="ngModel"
                required
                [ngClass]="{ 'is-invalid': f.submitted && firstname.errors}"
              />
            </div>
            <div class="mb-3">
              <label for="lastname">Last Name</label>
              <input
                type="text"
                class="form-control"
                name="lastname"
                [(ngModel)]="form.lastname"
                #lastname="ngModel"
                required
                [ngClass]="{ 'is-invalid': f.submitted && lastname.errors}"
              />
            </div>
            <div class="mb-3">
              <label for="birthdate">Birth Date</label>
              <input
                type="date"
                class="form-control"
                name="birthdate"
                [(ngModel)]="form.birthdate"
                #birthdate="ngModel"
                required
                [ngClass]="{ 'is-invalid': f.submitted && birthdate.errors}"
              />
            </div>
            <div class="mb-3">
              <label for="city">City</label>
              <input
                type="text"
                class="form-control"
                name="city"
                [(ngModel)]="form.city"
                #city="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && city.errors}"
              />
            </div>
            <div class="mb-3">
              <label for="gender">Gender</label>
              <div class="input-group">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" [value]="'male'" type="radio" name="gender" [(ngModel)]="form.gender" id="gender1"/>
                  <label for="genderMale" class="form-check-label">
                    Male
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" [value]="'female'" type="radio" name="gender" [(ngModel)]="form.gender" id="gender2"/>
                  <label for="genderFemale" class="form-check-label">
                    Female
                  </label>
                </div>
              </div>
              <div
                class="invalid-feedback"
                *ngIf="email.errors && f.submitted">
                <div *ngIf="email.errors['required']">
                  Email is required
                </div>
                <div *ngIf="email.errors['email']">
                  Email must be a valid email address
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-check-label" for="admin">Admin</label>

              <div class="form-check form-switch">
                <input
                  type="checkbox"
                  role="switch"
                  id="admin"
                  name="admin"
                  class="form-check-input"
                  [(ngModel)]="form.admin"
                  #admin="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && admin.errors}"
                />
              </div>
            </div>
            <button class="btn btn-success btn-block">Save User</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
