<div>
  <nav class="navbar navbar-expand bg-primary-subtle fixed-top shadow">
    <div class="container">
      <a href="#" class="navbar-brand">MailBox</a>
      <div class="navbar-nav me-auto">
        <li class="nav-item">
          <a routerLink="home" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="users" class="nav-link" *ngIf="isAdmin">Users</a>
        </li>
        <li class="nav-item">
          <a routerLink="add_update_user" class="nav-link" *ngIf="isAdmin">Add User</a>
        </li>
        <li class="nav-item">
          <a routerLink="inbox" class="nav-link" *ngIf="isLoggedIn">Inbox</a>
        </li>
        <li class="nav-item">
          <a routerLink="outbox" class="nav-link" *ngIf="isLoggedIn">Outbox</a>
        </li>
        <li>
          <a routerLink="sendmessage" class="btn btn-outline-primary me-auto" *ngIf="isLoggedIn">Send +</a>
        </li>
      </div>
      <div class="navbar-nav ms-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a routerLink="login" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a routerLink="register" class="nav-link">Register</a>
        </li>
      </div>
      <div class="navbar-nav ms-auto" *ngIf="isLoggedIn">
        <li class="nav-item" style="display: flex; align-items: center">
          <i [class]="this.theme == 'dark' ? 'nav-link bi-moon-fill' : 'nav-link bi-sun-fill'" style="cursor: pointer; display: flex; align-items: center; width: 30px; height: 30px;" (click)="changeTheme()"></i>
        </li>
        <li class="nav-item">
          <a routerLink="profile" class="nav-link">Profile</a>
        </li>
        <li class="nav-item">
          <a routerLink="logout" class="nav-link">Logout</a>
        </li>
      </div>
    </div>
  </nav>
</div>

<div class="container mt-3">
  <router-outlet />
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToastDanger" class="toast text-bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">System</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">Hello World</div>
  </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToastSuccess" class="toast text-bg-success" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">System</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">Hello World</div>
  </div>
</div>
